/*  your css code here. If applicable */
.main-container {
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    .container {
        text-align: center;
        box-shadow: 0 0 5px;
        padding: 50px 50px 80px 50px;
        margin: auto;
        border-radius: 10px;

        h1,
        h4 {
            color: rgb(15, 15, 15);
        }
    }

    .code-container {
        text-align: center;

        input {
            width: 10vw;
            height: 30vh;
            font-size: 100px;
            text-align: center;
        }
    }

    #verification_subtext {
        margin-bottom: 60px;
    }